/* General Styles */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 20px;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Enhanced Table Styles */
  .table {
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .table thead {
    background-color: #007bff;
    color: #fff;
    text-align: left;
  }
  
  .table th,
  .table td {
    padding: 15px;
    text-align: left;
  }
  
  .table th {
    font-weight: bold;
    font-size: 14px;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .table ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
  }
  
  .table ul li {
    margin-bottom: 5px;
    font-size: 13px;
  }
  
  /* Pagination */
  .pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
  }
  
  .pagination button {
    border: 1px solid #ddd;
    background: white;
    color: #333;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .pagination button.active {
    background: linear-gradient(120deg, #fda085, #f6d365);
    color: white;
  }
  
  .pagination button:hover {
    background: linear-gradient(120deg, #fda085, #f6d365);
    color: white;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  
    .pagination {
      flex-wrap: wrap;
    }
  }

  .relative {
    position: relative;
  }
  
  .loading-spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .delete-button {
    background: linear-gradient(120deg, #fda085, #f6d365);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .delete-button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    background: rgb(255, 0, 0);
  }

  .publictransport {
    background-color: #b8b8b894;
    color: rgb(0, 0, 0);
    margin-left: 1em;
    border-radius: 5px;
    font-size: 14px;
  }
  