<div class="container">
  <div class="row mb-4">
    <div class="col-12">
      <h2>Kurse</h2>
      <label for="filterPublicTransport">Öffentlich erreichbar: </label>
      <select class="publictransport"id="filterPublicTransport" [(ngModel)]="filterPublicTransport" (change)="applyFilter()">
        <option value="all">Alle</option>
        <option value="true">Ja</option>
        <option value="false">Nein</option>
      </select>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Kurs</th>
            <th>Veranstaltungsort</th>
            <th>Adresse des Veranstaltungsortes</th>
            <th>Öffentlich erreichbar?</th>
            <th>Kursleiter</th>
            <th>Alle Termine</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of storeService.courses">
            <td>{{ course.name }}</td>
            <td>{{ course.eventLocation.name }}</td>
            <td>{{ course.eventLocation.address }}</td>
            <td>{{ course.eventLocation.venueByPublicTansport ? 'Ja' : 'Nein' }}</td>
            <td>{{ course.instructor }}</td>
            <td>
              <ul>
                <li *ngFor="let date of course.dates">
                  {{ date.begin | date: 'dd.MM.yyyy HH:mm' }} - {{ date.end | date: 'dd.MM.yyyy HH:mm' }}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Registrierungen</h2>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Geburtsdatum</th>
            <th>Kurs</th>
            <th (click)="sortRegistrations('registrationDate')">Anmeldedatum
              <span *ngIf="sortDirection === 'asc'">&#9650;</span>
              <span *ngIf="sortDirection === 'desc'">&#9660;</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let registration of storeService.registrations">
            <td>{{ registration.name }}</td>
            <td>{{ registration.birthdate | date: 'dd.MM.yyyy' }}</td>
            <td>{{ registration.course.name }}</td>
            <td>{{ registration.registrationDate | date: 'dd.MM.yyyy' }}</td>
            <td class="relative">
              <button (click)="onDeleteRegistration(registration.id)" [disabled]="loading[registration.id]" class="delete-button">Abmelden</button>
              <div *ngIf="loading[registration.id]" class="loading-spinner-overlay">
                <div class="loading-spinner"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="pagination">
        <button
          class="btn"
          [ngClass]="{ active: page === storeService.currentPage }"
          (click)="selectPage(page)"
          *ngFor="let page of returnAllPages()">
          {{ page }}
        </button>
      </div>
    </div>
  </div>
</div>
