<div class="container">
  <div class="row mb-4">
    <div class="col-12">
      <h2>Kurse</h2>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Kurs</th>
            <th>Veranstaltungsort</th>
            <th>Adresse des Veranstaltungsortes</th>
            <th>Öffentlich erreichbar?</th>
            <th>Kursleiter</th>
            <th>Alle Termine</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of storeService.courses">
            <td>{{ course.name }}</td>
            <td>{{ course.eventLocation.name }}</td>
            <td>{{ course.eventLocation.address }}</td>
            <td>{{ course.eventLocation.venueByPublicTansport ? 'Ja' : 'Nein' }}</td>
            <td>{{ course.instructor }}</td>
            <td>
              <ul>
                <li *ngFor="let date of course.dates">
                  {{ date.begin | date: 'dd.MM.yyyy HH:mm' }} - {{ date.end | date: 'dd.MM.yyyy HH:mm' }}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Registrierungen</h2>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Geburtsdatum</th>
            <th>Kurs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let registration of storeService.registrations">
            <td>{{ registration.name }}</td>
            <td>{{ registration.birthdate | date: 'dd.MM.yyyy' }}</td>
            <td>{{ registration.course.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="pagination">
        <button
          class="btn"
          [ngClass]="{ active: page === storeService.currentPage }"
          (click)="selectPage(page)"
          *ngFor="let page of returnAllPages()">
          {{ page }}
        </button>
      </div>
    </div>
  </div>
</div>
